.employeeInfo {
  width: 200px;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  background-color: rgb(186, 202, 218);
}

.displayWrapper {
  margin-top: 20px;
  align-self: center;
  width: 750px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.infoSpan {
  margin-left: 5px;
  align-self: flex-end;
  font-weight: normal;
}

.infoDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
}