html {
  width: 100vw;
  height: 100vh;
  background-color: rgb(21, 43, 87);
  color: whitesmoke;
  font-family: 'Ubuntu', sans-serif; 
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  height: 100%;
  width: 100%;
}